@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #8d7661bb; /* 1- Quanto vai pro lado, 2- Quanto vai pra baixo 3- Quanto vai espalhar, 4- Cor. */
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {    
    color: #F27B35;
    text-align: center;
    text-shadow: 1px 1px 2px #c8642ab1;
}

h2 {
    color: #6F9ABF;
}

body {
    background-image: linear-gradient(to right, #F2E3D0, #F2CAA7);
}

p {
    text-align: justify;
}

